#formular {
  left: 50%;
  margin-left: -25%;
  position:fixed;
  background: LIGHTSALMON;
  width: 650px;
  padding: 0px 30px 45px 30px;
  border: 5px solid #53687E;
}

label {
  font-weight: bold;
  font-style: italic;
}

td {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 15px;
}

div.filter {
  position: fixed;
}

#listTable {
  left: 50%;
  top: 50%;
  margin-left: -24%;
  position: fixed;
  margin-top: -10%;
  width: 600px;
  padding: 30px 0px 15px 0px;
}

#listTable2 {
  left: 50%;
  top: 50%;
  margin-left: -25%;
  position: fixed;
  margin-top: -9%;
  width: 800px;
  padding: 30px 103px 15px 20px;
}

.errors {
  color: red;
}
